[Desktop Entry]
# put me in ~/.local/share/applications
Version=1.0
Type=Application
Name=FillRBust
Exec=/home/clyde/FillRBust/goFillrbust
Icon=/home/clyde/FillRBust/deck.gif
Categories=Graphics;Game
